body {
    font-family: "Helvetica", "Arial", "LiHei Pro", "黑體-繁", "微軟正黑體", sans-serif;
    font-size: 20px;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #9DC8C8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

textarea {
    resize: none;
    width: calc(100% - 20px);
    margin: 5px 0;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.output textarea {
    background-color: #f9f9f9;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #519D9E;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #548687;
}

/* 清除默認的下拉箭頭 */
.dropdown::-ms-expand {
    display: none;
}

.dropdown {
    height: 44px;
    appearance: none;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    box-shadow: none;
    outline: none;
}

.dropdown::after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.dropdown option {
    background-color: #fff;
    color: #333;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #58C9B9;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #519D9E;
}

::-webkit-scrollbar {
    width: 11px;
    background-color: #f1f1f1;
}

.file-upload {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #519D9E;
    color: #fff;
    margin: 20px;
    width: 400px;
    height: 150px;
    border-radius: 10px;
    cursor: pointer;
}

.file-upload i{
    margin-right: 10px;
}

.file-upload:hover {
    background-color: #548687;
}

#fileInput {
    display: none;
}

.existFile{
    display: inline-table;
    align-items: center;
    justify-content: center;
    background-color: #519D9E;
    color: #fff;
    margin: 20px;
    width: 400px;
    height: 150px;
    border-radius: 10px;
    cursor: pointer;
}